.p_5{ margin: 0 5px !important;}
.p_l_5{margin-left: 5px !important; }
.p_r_5{margin-right: 5px !important;}

.p_10{ margin: 0 10px !important;  }
.p_l_10{margin-left: 10px !important; }
.p_r_10{margin-right: 10px !important;}

.p_15{ margin: 0 15px !important;  }
.p_l_10{margin-left: 15px !important; }
.p_r_10{margin-right: 15px !important;}

.p_20{ margin: 0 20px !important;  }
.p_l_10{margin-left: 20px !important; }
.p_r_10{margin-right: 20px !important;}

.p_25{ margin: 0 25px !important;  }
.p_l_10{margin-left: 25px !important; }
.p_r_10{margin-right: 25px !important;}

.p_30{ margin: 0 30px !important;  }
.p_l_10{margin-left: 30px !important; }
.p_r_10{margin-right: 30px !important;}

.p_40{ margin: 0 40px !important;  }
.p_l_40{margin-left: 40px !important; }
.p_r_40{margin-right: 40px !important;}
